<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../bower_components/semantic-ui/dist/semantic.min.css"/>

    <script src="../../bower_components/jquery/dist/jquery.min.js"></script>
    <script src="../../bower_components/jquery.tablesort.js"></script>
    <script src="../../bower_components/semantic-ui/dist/semantic.min.js"></script>
    <script src="../../node_modules/react/dist/react.js"></script>
    <script src="../../node_modules/react-dom/dist/react-dom.js"></script>
    <script src="../../node_modules/react/dist/react-with-addons.js"></script>

</head>
<body>

    <div class="ui grid">
        <div id="table-div" style="overflow-x: auto"></div>
    </div>
    <script src="../../node_modules/JSXTransformer.js"></script>
    <script type="text/jsx" src="../../src/components/table.jsx"></script>
    <script type="text/javascript" src="../../node_modules/lodash/lodash.js"></script>

</body>
</html>